<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.altrovis.sigabkkbn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMain" />
        <activity
            android:name=".ActivityDataKeluarga"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityFormTambahDataPendudukSatu"
            android:parentActivityName=".ActivityDataKeluarga"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActivityFormTambahDataPendudukDua"
            android:parentActivityName=".ActivityListIndividu"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ActivityPencarian" />
        <activity
            android:name=".ActivityListIndividu"
            android:parentActivityName=".ActivityFormTambahDataPendudukSatu" />
        <activity
            android:name=".ActivityAddIndividu"
            android:parentActivityName=".ActivityListIndividu"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActivityKeluargaBerencana"
            android:parentActivityName=".ActivityListIndividu" />
        <activity android:name=".ActivityPembangunanKeluarga1" />
        <activity android:name=".ActivityPembangunanKeluarga2" />
        <activity android:name=".ActivityFormPesertaKB5" />
        <activity android:name=".ActivityFormPesertaKB6" />
        <activity android:name=".ActivityEditIndividu"></activity>
    </application>

</manifest>
